body {

background-color: darkgray

}


.h1{
border:7px solid;
}

article {
	position: absolute;
	top; 10px;
}

aside {
	position: relative;
	bottom; 1000px;
}

nav {
	position: static;
	bottom; 500px;
}

